<div class="control-group">
  <label class="control-label">{{i18n 'user.home_category'}}</label>
  <div class="controls">
    {{combo-box valueAttribute="value" content=categorySlugs value=model.custom_fields.home_category id='user-location'}}
  </div>
</div>
